:root {
    --bg: rgb(20,0,0);
    --bright: rgb(255, 0, 40);
    --l_bright: rgb(200, 0, 40);
    --w_bright: rgb(200, 160, 160);
    --width: 85%;
    --height: 70vh;
}

body {
    background-image: url(city_bg_3.jpg);
    background-size: cover;
    display: flex;
    background-color: var(--bg);
    flex-direction: column;
    background-attachment: fixed;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(monsoon.png);
    background-size: cover;
    background-position: right;
    box-shadow: 0rem 0rem 8cap 1rem rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 4rem;
    /* right: 17%; */
    border-radius: 3rem;
    height: var(--height);
    width: var(--width);
    align-self: center;
    padding: 4rem;
}

@font-face {
    font-family: 'custom_1';
    src: url(brazil_h.otf);
}

@font-face {
    font-family: 'custom_2';
    src: url(freeagentcond.ttf);
}

span {
    white-space: pre;
}

.name {
    text-shadow: 0rem 4rem 2rem rgba(0, 0, 0, 1);
    align-items: baseline;
    display: flex;
}

.occup {

    align-items: baseline;
    display: flex;
}

.grey {
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 1), 0rem 0rem 2rem rgba(0, 0, 0, 2);   
    font-size: 3rem;
    font-family: 'custom_1';
    color: var(--w_bright);
}

.bright {
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 1), 0rem 0rem 2rem rgba(0, 0, 0, 2); 
    font-size: 4rem;
    font-family: 'custom_1';
    color: var(--bright);

}
.grey2 {
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 1), 0rem 0rem 2rem rgba(0, 0, 0, 2); 
    font-size: 1.5rem;
    font-family: 'custom_1';
    color: var(--w_bright);
}

.bright2 {
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 1), 0rem 0rem 2rem rgba(0, 0, 0, 2); 
    font-size: 2.5rem;
    font-family: 'custom_1';
    color: var(--l_bright);

}

.abilities_heading { 
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 1), 0rem 0rem 2rem rgba(0, 0, 0, 2); 
    white-space: pre;
    padding: 1rem;
    position: relative;
    top: 1rem;
    font-size: 3rem;
    font-family: 'custom_2';
    color: var(--w_bright);
    display: flex;
    justify-content: center;
}

.icon {
    align-self:center;
}

.list {
    display: flex;
    flex-direction: row;
}

.abilities { 
    line-height: 2rem;
    align-self: center;
    list-style-image: url(icon.png);
    list-style-position: inside;
    width: 90%;
    text-wrap: wrap;
    position: relative;
    top: 0;
    font-size: 2rem;
    font-family: 'custom_2';
    color: var(--w_bright);

}

li {
    text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 1), 0rem 0rem 2rem rgba(0, 0, 0, 2); 
    position: relative;
    border: 0.15rem solid var(--bright);
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1.1rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    transition: transform 0.2s ease;
}

li:hover {
    transform: scale(1.1);
}

.contact {
    width: 100%;
    align-self: center;
    bottom: 2rem;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.link_btn {
    z-index: 5;
    color: var(--w_bright);
    text-align: center;
    width: 13%;

    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'custom_2';
    border: 0.1rem solid rgba(0,0,0,0);
    transition: border 0.2s ease, transform 0.2s ease;
}

.link_btn:hover {
    transform: scale(1.1);
    border: 0.1rem solid var(--bright);
}